<!DOCTYPE html>
<html lang="en">

<head>
    <title>Wavves Audio</title>
    <link rel="icon" type="image/png" href="https://d30y9cdsu7xlg0.cloudfront.net/png/51723-200.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="main.css" rel="stylesheet">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="https://connect.soundcloud.com/sdk/sdk-3.1.2.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Oxygen|Quicksand:300,400,500,700" rel="stylesheet">
</head>

<body>
    <div class="siteWrapper">
        <div class="topWrapper">
            <h1 class="title">YOUR FAVORITES</h1>
                    <audio id="audioControllerFav" controls="controls" autoplay="true">
                        <source id="audioSourceFav" src="" type="audio/ogg" />
                        <!--<source src="" type="audio/mpeg" /> Your browser does not support the audio element.-->
                    </audio>
                    <p class="nowPlaying"><span id="artistPlayingFav"></span><span id="songPlayingNowFav"></span></p>

                    <hr class="break hidden">

                    <div class="searchWrapper">

                        <input type="text" name="search" class="searchBar hidden" value="" placeholder="Search For Any Artist" onfocus="this.placeholder = ''">
                        <input type="submit" class="searchBtn hidden" value="SEARCH">


                    </div>
                    <hr class="break hidden">
        </div>
        <div class="searchResultsSectionFav">
            <h2 class="resultsTitleFav hidden">Search Results:</h2>
            <div class="searchResults">

                {{#favorite}}
                <div class="trackWrapperFav">
                    <img class="favImg" src={{image}}>
                    <p>{{song}}</p>
                    <p>{{artist}}</p>
                    <p id="audioSourceFile" class="hidden">{{audioFile}}</p>
                </div>
                {{/favorite}}
            </div>
            <div class="searchResults">
            </div>
        </div>
    </div>
    <script src="main.js"></script>
</body>

</html>